<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169671440533-2e3ls3j3umi0kbv6i8hi6ebhiftksggp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169671440533-2e3ls3j3umi0kbv6i8hi6ebhiftksggp</string>
	<key>API_KEY</key>
	<string>AIzaSyBcU9rsA30UYfN8HF8KYGL0-6cnuia_LsM</string>
	<key>GCM_SENDER_ID</key>
	<string>169671440533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BaneneApp</string>
	<key>PROJECT_ID</key>
	<string>my-app-02-03-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-02-03-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169671440533:ios:326e909a86f55a2f28039c</string>
</dict>
</plist>